body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(25, 69, 41);
    color: #fff;
    padding: 1em;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: rgb(25, 69, 41);
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
h1{
text-align: center;
}
img
{
    display: block;
  margin: 0 auto;
}
.social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
  }
  
  .social-icons a:hover img {
    transform: scale(1.2);
  }
  .href
  {
    display:flex;
    justify-content: center;
    transform: scale(10);
    transition: transform 0.3s;
  }
  